---
import MainLayout from "../layout/MainLayout.astro";
import Button from "../components/Button.jsx"
---

<MainLayout title="Home">

	<span class="text-3xl font-semibold">Hello this is Home route</span>
	<Button client:load />

</MainLayout>